# Python
venv/
__pycache__/
*.pyc
*.egg-info/

# C++ / CMake Build Artifacts
build/
*.pyd
*.so
*.sln
*.vcxproj*

# Rust / Cargo
rust_data_pipeline/target/

# VS Code IDE folder
.vscode/

# APIconfig
config.json

# Data files
data/